//colors
$primary-color: #f0f0f0;
$secondary-color: #df3a3a;
$text-dark: #000000;
$text-light: #f0f0f0;

//fonts
$font-main: Helvetica, Arial, sans-serif;

//transitions and shadows
$transition-speed: 0.3s;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
$hover-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);