@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: $font-main;
    background-color: $primary-color;
    color: $text-dark;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

//container needed here later

header {
    background: $secondary-color;
    padding: 1rem 0;
    box-shadow: $box-shadow;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: $text-light;
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    nav {
        display: flex;
        gap: 1.5rem;
        padding-right: 1rem;

        a {
            color: $text-light;
            transition: $transition-speed;

            &:hover {
                opacity: 0,7;
            }
        }
    }
}

main {
    padding: 2rem 0;
}

footer {
    margin-top: 5.5rem;
    padding: 1.5rem 0;
    background: #111;
    text-align: center;
    color: #777;
}