@use '../variables' as *;

.artist-card {
  background-color: $bg-artist;
  padding: 20px;
  margin: 20px auto;
  border-radius: $radius;
  max-width: 400px;
  text-align: center;

  img {
    max-width: 100%;
    border-radius: $radius;
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }
}