<!DOCTYPE html>
<html lang="is">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Opium</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <%- include('partials/header') %>

  <main class="about-main">
    <h2>What is Opium</h2>

    <p>Opium is a rap collective built around Playboi Carti and his vision. Its known for a dark, distorted sound that doesnt follow rules or trends. The music is loud, aggressive, and experimental, made to hit harder than it sounds clean. Everything about Opium is about energy from the beats to the vocals to the visuals.</p>

    <p>With artists like Ken Carson, Destroy Lonely, and Homixide Gang, Opium turned into more than just a label. It became a whole movement. The sound, the fashion, the attitude all connects. Its not just music you listen to, its a vibe you tap into.</p>

  </main>

  <%- include('partials/footer') %>

</body>
</html>
