<!DOCTYPE html>
<html lang="is">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Opium</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <%- include('partials/header') %>

  <main>
    <h2>OPIUM <br>NOT A LABEL. A MOVEMENT.</h2>

    <section class="text">
        <p>Opium is a rap collective built around Playboi Carti and his vision. Dark sound, heavy energy, no rules.</p>
    </section>

    <section class="text">
        <h3>Artists</h3>
        <p>
            Playboi Carti <br>
            Ken Carson <br>
            Homixide Gabg <br>
            Destroy Lonely <br>
        </p>
    </section>

    <section class="text">
        <h3>Link to their music</h3>
        <a href="https://open.spotify.com/playlist/2e6efMiBY7WFnUTMyuDp14?si=a841badaa1924438" class="link">♱OPIUM♱</a>
    </section>

  </main>

  <%- include('partials/footer') %>

</body>
</html>
